

<form ng-submit="m.login()">
    <div class="row" style="margin-top: 60px;">

        <div class="col-4 offset-4" style="background: #eaeaea;padding: 60px;border-radius: 14px;">
            <div class="col-12">
                <h3>Login</h3>

                <div class="form-group">
                    <label>Mail</label>
                    <div class="input-group">
                        <input type="text" class="form-control" ng-model="m.cus.mail" id="mail" placeholder="Ingrese..." required>
                    </div>
                </div>
                <div class="form-group">
                    <label>Contraseña</label>
                    <div class="input-group">
                        <input type="password" class="form-control" ng-model="m.cus.pass" id="contrasena" placeholder="Ingrese..." autocomplete="off" required>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-8 offset-2">
                    <button type="submit" class="btn btn-primary pull-right" style="width: 100%;" ng-disabled="m.isLoading">Login <i class="fa fa-cog fa-spin" ng-if="m.isLoading"></i></button>
                </div>
            </div>
            <div class="row">
                <div class="col-8 offset-2 text-center">
                    <a href="" ui-sref="create">Registrarme</a>
                </div>
            </div>
        </div>
    </div>

</form>
